html {
    font-family: 'Gilroy-Bold';
    margin-top: 20px;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url(../fonts/gilroy-bold.ttf);
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.header {
    margin-bottom: 30px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.header__menu__elem {
    font-size: 18px;
}

.header__menu__elem,
.lang__item {
    font-weight: 400;
    color: #828282;
    transition: all 0.15s linear;
    text-align: center;
    text-decoration: none;
}

.lang-var:hover .lang__item,
.header__menu__elem:hover {
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
}

.active {
    font-weight: 700;
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about {
    margin-bottom: 100px;
}

.about__header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #828282;
    align-items: center;
}


.about__img img {
    width: 100%;
}

.name {
    font-size: 24px;
    line-height: 60px;
    font-weight: 400;
    max-width: 100px;
}

.designer {
    margin-top: 60px;
}

.lang {
    display: flex;
    font-size: 16px;
    transform: rotate(-90deg);
    padding-top: 50px;
    margin-top: 50px;
    width: 68px;
    justify-content: space-between;
}

.lang-separator {
    font-weight: 700;
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about_me {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    text-align: center;
    background-color: #F6F6F6;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about_me h2 {
    font-size: 18px;
}

h2 p {
    margin-bottom: 20px;
}

.about__tittle {
    font-size: 40px;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 90px;
}

.skills__header {
    text-align: center;
}

.skills__tittle {
    margin-bottom: 60px;
    font-size: 34px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skills__description {
    color: #070707;
    font-size: 18px;
    margin-bottom: 84px;
}

.programs {
    display: flex;
    justify-content: space-between;
}

.program {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.program__name {
    font-size: 14px;
    color: #828282;
}

.programs__img {
    margin-bottom: 30px;
}

.program__tittle {
    margin-bottom: 40px;
}

.PS .programs__img {
    background: radial-gradient(75.99% 75.64% at 32.94% 22.44%, rgba(52, 54, 78, 0.98) 0%, #0C0824 100%);
}

.portfolio {
    display: flex;
    background: #F6F6F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 90px;
}

.portfolio__tittle {
    text-align: center;
    font-size: 24px;
    padding-bottom: 60px;
}

.portfolio__projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project {
    margin-bottom: 90px;
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
}

.project__img {
    margin-bottom: 40px;
    transition: all 0.5s ease;
}

.project__url {
    color: black;
}

.project__img:hover {
    transform: scale(1.05);
}

.socials {
    justify-content: center;
}

.footer {
    margin: 0 auto;
    margin-top: 90px;
    text-align: center;
    max-width: max-content;
}

.contacts__tittle {
    font-size: 24px;
    margin-bottom: 20px;
}

.contacts__description {
    margin-bottom: 30px;
}

.contacts {
    margin-bottom: 85px;
}

.socials__logos {
    width: 340px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 40px;
}

.message__button {
    transition: all 1.5s ease;
}

.message__button:hover {
    transform: scale(1.1);
}

.footer a {
    transition: all 1s ease;
}

.message {
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 30px;
    width: 180px;
    text-decoration: none;
    padding: 13px 30px;
    font-size: 16px;
}

.footer a:hover {
    transform: scale(1.2);
}

.footer__social__url {
    color: #828282;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
}

.socials__description {
    margin-bottom: 100px;
    color: #828282;
}